@page 
@model JKCrafts.Pages.Cart.DeleteModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Deleting Item</title>
</head>
<body>
    <h1>Deleting Item...</h1>
</body>
</html>