@page
@model JKCrafts.Pages.Transactions.CreateModel

<h2>New Transaction</h2>

@if (Model.errorMessage.Length < 0)
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}

<form method="post">
    <!-- Product Info -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Product Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="ProductName" value="@Model.customerinfo.ProductName">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Quantity</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="Quantity" value="@Model.customerinfo.Quantity">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Availability</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="Availability" value="@Model.customerinfo.Avalibablity">
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a class="btn btn-outline-primary" href="/Transactions" role="button">Cancel</a>
        </div>
    </div>
</form>
